#grid
{
    --grid-background-color : rgb(32, 32, 32);
    --line-color : rgba(193, 196, 192, 0.1);
    --thick-line-color : rgba(193, 196, 192, 0.2);
    --spacing : 15;
}

.texture-designer-node.atomic-nodes VisualElement#title
{
	background-color : rgba(128, 128, 128, 0.8);
}

.texture-designer-node.input VisualElement#title
{
	background-color : rgba(128, 64, 64, 0.8);
}

.texture-designer-node.output VisualElement#title
{
	background-color : rgba(64, 96, 128, 0.8);
}